<link rel="stylesheet" href="/css/forgot_password.css">
<div id="forgot-password-container">
    <h1>Forgot Password</h1>
    <form action="/users/forgot-password-email" method="POST">
        <input type="email" id="forgot-email" name="email" placeholder="Enter your email." required>
        <button type="submit" id="forgot-button">Send Email</button>
    </form>
    
</div>