<link rel="stylesheet" href="/css/password_reset.css">
<div id="reset-form-container">
    <h1>Reset your Password</h1>
    <form action="/users/reset/<%=token%>" method="POST">
        <input type="password" id="reset-password" name="password" placeholder="Enter the password" required>
        <input type="password" name="confirm_password" id="reset-confirm-password" placeholder="Confirm Password" required>
        <button type="submit">Reset Password</button>
    </form>
</div>