#reset-form-container {
  text-align: center;
  margin-top: 100px;
  width: 50%;
  position: relative;
  left: 25%; }
  #reset-form-container form {
    display: flex;
    flex-direction: column; }
    #reset-form-container form input {
      width: 50%;
      border: 2px solid black;
      margin: 5px;
      padding: 10px;
      position: relative;
      left: 22%; }
    #reset-form-container form button {
      width: 20%;
      border: 2px solid black;
      padding: 10px;
      position: relative;
      left: 40%;
      margin-top: 10px; }
